<a href="https://colab.research.google.com/github/DavidCosta1/meu-primeiro-teste/blob/main/TercaDavid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1)
print("david")
print('david')

1
david
david

#variaveis

In [ ]:
#como escrever variaveis
#normal
num = 10
numdois = 20
#camelcase
saldoBancarioDeHoje = 1000
#snakecase
saldo_bancario_de_ontem = -10000

#variavel nunca pode comecar com numero
#uma variavel nunca pode ter espaco, use o underline "_"
#nao utilize estes simbolos /\|<>!@$%
#SEMPRE DEVE COMECAR COM LETRA MINUSCULA

In [ ]:
print(saldo_bancario_de_ontem)
print("seu saldo bancario de ontem: ", saldo_bancario_de_ontem)

-10000
seu saldo bancario de ontem:  -10000

#TIPO DE NUMERO

In [ ]:
inteiro = 10

type(inteiro)

int

In [ ]:
decimal = 10.5

type(decimal)

float

#operacoes matematicas na programacao

In [ ]:
#adicao
1 + 1

2

In [ ]:
#subtracao
1 - 1

0

In [ ]:
#mutiplicacao
4*9

36

In [ ]:
#exponencial
10**2

100

In [ ]:
#ordem das operacoes
10 + 10 * 10

110

In [ ]:
#como expecificar a ordem das operacoes
(2+10) * (10 - 5)

60

In [ ]:
numero = 10

numero + numero

numero = 30

numero = numero + numero

print(numero)

60

In [ ]:
#Escreva um programa que imprima seu nome na tela
print("david")

david

In [ ]:
#Declare duas variaveis com numeros e imprima a soma delas
ab = 10

ac = 10

print(ab + ac)

20

In [ ]:
#declare duas variaveis com valores numericos e imprima a soma, subtração e multiplicacao e divisão delas

num1 = 10

num2 = 5

soma = num1 + num2
print(soma)

subtracao = num1 - num2
print(subtracao)

mutiplicacao = num1*num2
print(mutiplicacao)

exponencial = num1**num2
print(exponencial)

15
5
50
100000

In [ ]:
#Declare uma variavel com uma mensagem pessoal e imprima-a
pontos = 100
print("seus pontos atuais são:", pontos)

seus pontos atuais são: 100

#STRING

In [ ]:
#uma palavra
string1 = "Oi"
#uma frase
string2 = "Oi, como voce esta?"
#uma frase com aspas simples
string3 = "benicio ruinzao no brawl stars"

In [ ]:
print(string1)
print(string2)
print(string3)

Oi
Oi, como voce esta?
benicio ruinzao no brawl stars

In [ ]:
#Como utilizar as "" numa string
string4 = 'Benicio é "Bonito"'
print(string4)

Benicio é "Bonito"

In [ ]:
#tres formas de imprimir uma string
string5 = "test"
print(string5)
print("teste")
'teste'

test
teste

'teste'

In [ ]:
#utilizar \n para saltar linhas
print("Saltando agora \n saltei \n !")

Saltando agora
 saltei
 !

In [ ]:
#utilizar /t para dar espaços maiores
print("Estou saltando \t\t saltando!")

Estou saltando 		 saltando!

In [ ]:
#veja quantos caracteres forma a frase
frase = "O riquelme era um grande jogador do boca juniors"
len(frase)

48

In [ ]:
#indexação de string
nome = "Fulano da Silva Sauro"
#imprimindo a primeira letra do nome
print(nome[7])

d

In [ ]:
#imprimindo a partir de um caractere
print(nome[7:])
#imprimindo até um caractere
print(nome[:7])
#imprimir uma parte expecifica
print(nome[10:15])
#imprimir retrocedendo
print(nome[-1])
#tudo menos a ultima letra
print(nome[:-1])

da Silva Sauro
Fulano
Silva
o
Fulano da Silva Saur

In [ ]:
#imprimir uma frase saltando letras de 2 em 2
frase = "Batatinha quando nasce espalharrama pelo chão"
print(frase[::2])

Bttnaqad ac sahraapl ho

In [ ]:
#encontrar caracteres dentro de uma string use o find()
email = "enzoprogamerkwai23@gmail.com"
print(email.find("@"))

19

In [ ]:
#utilize a função count  para contar caracteres dentro de uma string
email = "enzoprogamerkwai23@gmail.com"
print(email.count("."))

1

In [ ]:
#OPERADORES EM STRINGS

#concatenação
nome = "Jose"
sobrenome = " Bevidari"
print(nome + sobrenome)

#repetição
print(nome *3)

Jose Bevidari
JoseJoseJose

In [ ]:
#numeros nao podem ser concatenados com strings
numero_de_irmaos = 2

#uso a funcao STR() pois ela transforma numeros em strings
print("voce tem " + str(numero_de_irmaos) + " irmaos")

voce tem 2 irmaos

#Lista e matrizes

In [ ]:
#O que é uma lista?
#listas são uma coleção de itens em uma ordem específica

#como criar uma lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como exibir um indicie em expecifico
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
print("Primeiro aluno desta turma: " + alunos[0])
#Os indicies em python comecam do valor 0

Primeiro aluno desta turma: Riquelme

In [ ]:
#Como exibir um indicie em expecifico
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
print("Ultimo aluno desta turma: " + alunos[-1])
#Os indicies em python comecam do valor 0

Ultimo aluno desta turma: Eduardo

In [ ]:
#Como substituir algo na lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos[4] = "Patolino"
#voce tambem pode subistituir o "4" pelo -1 para referir-se ao ultimo

print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius', 'Patolino']

In [ ]:
#Como acrescentar itens dentro da lista(nomes, objetos, etc...)

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.append('Marcos')
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius', 'Eduardo', 'Marcos']

In [ ]:
#Como inserir algo na lista em um lugar expecifico

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.insert(0, "Arthur")
print(alunos)

['Arthur', 'Riquelme', 'Benicio', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como remover itens de uma lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
del alunos[0]
print(alunos)

['Benicio', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como remover um por um da lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.pop()
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius']

In [ ]:
#Como remover na lista em expecifico utilizando o metodo ".pop"
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.pop(1)
print(alunos)

['Riquelme', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como remover um item sem dizer sua posicao

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.remove("Riquelme")
print(alunos)

['Benicio', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como colocar uma lista em ordem alfabetica
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.sort()
print(alunos)

#Como colocar em ordem invera
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.sort(reverse=True)
print(alunos)

#o metodo ".sort()" altera permanentemente a lista original
print(alunos)

['Benicio', 'David', 'Eduardo', 'Riquelme', 'Vinicius']
['Vinicius', 'Riquelme', 'Eduardo', 'David', 'Benicio']
['Vinicius', 'Riquelme', 'Eduardo', 'David', 'Benicio']

In [ ]:
#Crie uma lista vazia e em seguida adicione 3 numeros a ela, depois imprima a lista
numeros = []
numeros.append(1)
numeros.append(3)
numeros.append(6)
print(numeros)

[1, 3, 6]

In [ ]:
#Crie a lista que esta abaixo, depois imprima o primeiro e o ultimo numero da lista
lista = [10, 20, 30, 40, 50]
print('o primeiro numero é', lista[0])
print(' o ultimo numero é', lista[4])

o primeiro numero é 10
 o ultimo numero é 50

In [ ]:
#Crie a lista que esta a baixo e atualize qualquer nome desta lista para outro nome
lista = ["Ana", "Caio", "Fabio"]
lista[1] = "Marcos"
print(lista)

['Ana', 'Marcos', 'Fabio']

#OPERADORES DE COMPARAÇÃO

In [ ]:
num1 = 10
num2 = 50
texto1 = "ctrl"
texto2 = "play"

print(num1 != num2)
print(num1 * 5 == num2)
print(texto1 != texto2)
print( texto1 == texto2)
print("----------------------")

#Maior e maior ou igual
print(num1 > num2)
print(num1 * 5 > num2)
print(num1 * 5>= num2)

True
True
True
False
----------------------
False
False
True

In [ ]:
#OPERADORES EM CADEIA
#AND / TODAS AS CONDICOES PRECISAM SER VERDADEIRAS
print(1 < 2 < 3)

#o mesmo que 1 < 2 < 3
print(1 < 2 and 2 < 3)

print(1 < 2 and 2 < 3 and 3 > 4)
print("---------------")

#OR / Uma condicao somente precisa ser verdadeira

print( 1 > 2 or 1 < 2)

True
True
False
---------------
True

# CONDICIONAIS IF / ELIF / ELSE

In [ ]:
#IF = SE
#ELIF = SENAO
#ELSE = ENTAO

nota = float(input("Digite a sua nota:"))

if nota >= 6:
   print("Aprovado")
elif nota >= 4 and nota < 6:
   print("RFC")
else:
  print("Reprovado")

Digite a sua nota:2
Reprovado

#ESTRUTURAS DE REPETIÇÃO

In [ ]:
#FOR

numeros = [1,2,3,4,5,6,7,8,9,10]

for i in numeros:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Como encontrar numeros pares
for num in range(1,11):
  if num %2 == 0:
#O simbolo "%", é utilizado para representar uma divisão
    print(num)

2
4
6
8
10

In [ ]:
for letra in "Riquelme":
 print(letra)

R
i
q
u
e
l
m
e

In [ ]:
for num in range(2,21):
 e_primo = True

 for num_teste in range(2, num):
   if num % num_teste == 0:
     e_primo = False
     break

 if(e_primo):
   print("É primo: " ,num)
 else:
   print("Não é primo" ,num)

É primo:  2
É primo:  3
Não é primo 4
É primo:  5
Não é primo 6
É primo:  7
Não é primo 8
Não é primo 9
Não é primo 10
É primo:  11
Não é primo 12
É primo:  13
Não é primo 14
Não é primo 15
Não é primo 16
É primo:  17
Não é primo 18
É primo:  19
Não é primo 20

In [ ]:
#WHILE / ira repetir uma certa quantidades de vezes com 1 condição

n = 10

while(n > 0):
  print(n)
  n = n - 1


print("Encerrou")

10
9
8
7
6
5
4
3
2
1
Encerrou

#Desafio da Aula 04

In [ ]:
num = float(input("o número "))
if num == 1:
  print("é do mês: January")
if num == 2:
  print("é do mês: February")
if num == 3:
  print("é do mês: March")
if num == 4:
  print("é do mês: May")
if num == 5:
  print("é do mês: April")
if num == 6:
  print("é do mês: June")
if num == 7:
  print("é do mês: July")
if num == 8:
  print("é do mês: August")
if num == 9:
  print("é do mês: September")
if num == 10:
  print("é do mês: October")
if num == 11:
  print("é do mês: November ")
if num == 12:
  print("é do mês: December")

o número 10
é do mês: October

In [ ]:
#Minha atividade

Cachorro_quente = round(4.00)
XSalada = round(4.50)
XBacon = round(5.00)
Torrada_simples = round(2.00)
Refrigerante = round(1.50)
total = "Total R$"

codigo = [1,2,3,4,5]
mensagem = int(input(" Qual o seu pedido? "))

#Pedidos de uma unidade
if(mensagem == 1 ):
  print("Total R$: ", Cachorro_quente)
if(mensagem == 2 ):
  print("Total R$: ", XSalada)
if(mensagem == 3 ):
  print("Total R$: ", XBacon)
if(mensagem == 4 ):
  print("Total R$ ", Torrada_simples)
if(mensagem == 5 ):
  print("Total R$: ", Refrigerante)

#Pedidos de duas unidades
if(mensagem == 1 and 2 ):
  print("Total R$: ", Cachorro_quente + XSalada)

 Qual o seu pedido? 2
Total R$:  4

In [ ]:
#desafio aula 4
# Definindo o dicionário com os códigos e os preços dos itens
tabela_precos = {
1: 4.00,
2: 4.50,
3: 5.00,
4: 2.00,
5: 1.50
}

# Lendo o código do item e a quantidade
codigo_item = int(input("Digite o codigo do item: "))
quantidade = int(input("Digite a quantidade: "))

#Verificando se o codigo do item é valido
if codigo_item in tabela_precos:
#calculando o valor total a ser pago
  valor_total = tabela_precos[codigo_item] * quantidade

#formatando a saida com duas casas decimais
  valor_formatado = round(valor_total, 2)

#imprimindo o valor total a ser pago
  print("Total: R$",valor_formatado)
else:
  print("Codigo de item invalido")

Digite o codigo do item: 2
Digite a quantidade: 2
Total: R$ 9.0

In [ ]:
Cachorro_quente = 4.00
XSalada = 4.50
XBacon = 5.00
Torrada_simples = 2.00
Refrigerante = 1.50


mensagem = [1,2,3,4,5]
codigo = int(input(" Qual o seu pedido? "))

if (codigo == 1):
    print(total = Cachorro_quente)
elif (codigo == 2):
    print(total + XSalada)
elif (codigo == 3):
    print(total = XBacon)
elif (codigo == 4):
    print(total = Torrada_simples)
elif (codigo == 5):
    print(total = Refrigerante)
elif (codigo == 11):
    print(total = Cachorro_quente + Cachorro_quente)
elif (codigo == 12):
    print(total = Cachorro_quente + XSalada)
elif (codigo == 13):
    print(total = XBacon + Cachorro_quente)

    print("Total R$: ", total)

else:
   print("Invalid code")

 Qual o seu pedido? 9
Invalid code

#OUTROS TIPOS DE LISTAS

In [ ]:
#O que sao Litsts?

#1- Sao ordenados
#2- pode ter qualquer tipo de dado
#3- acessada por indices a partir de 0
#4- Sao mutaveis, ou seja, podem ser modificadas depois de criadas
#5- Sao definidos por []

#EXEMPLO:
meu_list = [1,2,3,4,5]

#O que sao SETS?

#1- Nao sao ordenadas
#2- Nao temos valores duplicados
#3- A lista nao possui indicie
#4- Sao mutaveis, podemos adicionar e remover itens
#5- Sao definidos utilizando {}

#EXEMPLO:
meus_sets = {1,2,3,4,5}

#O que sao Tuples?

#1- Sao ordenadas e imutaveis(nao pode alterar nada depois de ser criada)
#2- Aceita qualquer tipo de dado
#3- Possui indicie
#4- Sao definidas por ()

#EXEMPLO:
meu_tuple = (1,2,3,4,5)

#O que é Dictionaries

#1- Sao de pares chave-valor
#2- Os elementos sao acessados por chaves, nao por indicies
#3- As chaves devem ter um valor unico, porem o valor pode se repetir

#EXEMPLO:
meu_dictionario = {'senha': 123, 'senha2': 321}

In [ ]:
#SETS/SET
#Sao mutaveis e podemos utilizar metodos

sets = set()

sets.add(1)

sets.add(2)

print(sets)

sets.add(1)
#Listas do tipo SETS nao é possivel repetir valores/dados

print(sets)

{1, 2}
{1, 2}

In [ ]:
a = True
b = False

#Eu posso(se quiser sim) aplicar valores booleanos(verdadeiros ou falsos) a partir de expressoes

c = 1 < 2
d = 7 > 10
print(a,b,c,d)

True False True False

In [ ]:
#TUPLAS
#Varios tipos de dados
tupla = ('um', 2, 'tres', True, 4.5, 'cinco ponto seis', False)

print(tupla[2])
print(tupla[2:5])
print("-----------------------------------------------")

tupla2 = (1,2,2,3,3,3,4,4,4,4)

#Metodos que conseguimos utilizar
print(len(tupla2))
print(tupla2.count(4))

#Nao conshuimos utilizar pois uma tupla é imutavel

#append(add algo no final)
#pop(remover algum item)
#remove(remover algum item em expecifico)
#index(nao sei oq é)

tres
('tres', True, 4.5)
-----------------------------------------------
10

In [ ]:
#Dictionaries

dicionario = {"defenestrar": "tacar o benicio pela janela", "ps5":"R$3500", "CHAVE1": 3}
print(dicionario["defenestras"])

In [ ]:
# {'chave':[valor1.valor2]}
dicionario = {"amor": ["sentimento carinhoso", "sentimento amoroso"]}

#Caso eu queira saber todos os sentidos:
print(dicionario["amor"])

#Caso eu queira saber o sentido em especifico
print(dicionario["amor"][0])

['sentimento carinhoso', 'sentimento amoroso']
sentimento carinhoso

#funções

In [ ]:
def bem_vindo():
  print("Seja bem-vindo ")

bem_vindo()

Seja bem-vindo

In [ ]:
def boas_vindas(nomeDeUsuario):
  print("Seja bem-vindo, a aula ", nomeDeUsuario)

boas_vindas("CR7")

def boas_vindas2(nomeDeUsuario):
  print("Seja bem-vindo, a aula %s" % (nomeDeUsuario))


boas_vindas2("CR7")

Seja bem-vindo, a aula  CR7
Seja bem-vindo, a aula CR7

In [2]:
#Crie uma função chamada fime_favorito() que aceita um parametro chamado "titulo"
#e a funcao deve exibir a mensagem "Um dos meus filmes favoritos é ...."

def filme_favorito(titulo):
  print("Meu filme favorito é", titulo )

filme_favorito("Minions")

def filme_favorito(titulo):
  print("Meu filme favorito é %s" % (titulo) )

filme_favorito("Ponyo")

Meu filme favorito é Minions
Meu filme favorito é Ponyo

In [ ]:
# a forma da velocidade é V = D/T

def velocidade(distancia, tempo):
  velocidade = distancia // tempo
  print("A sua velocidade é de: %d" % (velocidade))
#Um carro percorreu 100km/h em 1:30
velocidade(100000, 7800)

def velocidade(tempo, distancia = 100):
  velocidade = distancia // tempo
  print("A sua velocidade é de: %d" % (velocidade))

velocidade(20)

A sua velocidade é de: 12
A sua velocidade é de: 5

In [ ]:
def menor(a, b):
  if a<=b:
    return a
  else:
    return b

In [ ]:
a = int(input("Digite o primeiro numero: "))
b = int(input("Digite o segundo numero: "))

print("O menor valor entre %d e %d é %d" % (a, b, menor(a, b)))

Digite o primeiro numero: 1
Digite o segundo numero: 7
O menor valor entre 1 e 7 é 1

#testes

In [ ]:
numero_de_irmaos = 2

print("você tem " + str(numero_de_irmaos) + " irmãos")

você tem 2 irmãos

In [ ]:
exemplo2 = "escola é vida"
cadapalavra = exemplo2.split()
print(cadapalavra[2])

vida

#DESAFIO DA AULA 03

In [ ]:
n0 = 1
n1 = 2
n2 = 4
n3 = 8
n4 = 16
n5 = 32


posicao_do_vetor = int(input("Qual posição do vetor você gostaria de saber o valor? "))

if (posicao_do_vetor == 0):
   print("O valor do vetor " + str(posicao_do_vetor) + " é: %d" % (n0))

if (posicao_do_vetor == 1):
   print("O valor do vetor " + str(posicao_do_vetor) + " é: %d" % (n1))
if (posicao_do_vetor == 2):
   print("O valor do vetor " + str(posicao_do_vetor) + " é: %d" % (n2))
if (posicao_do_vetor == 3):
   print("O valor do vetor " + str(posicao_do_vetor) + " é: %d" % (n3))
if (posicao_do_vetor == 4):
   print("O valor do vetor " + str(posicao_do_vetor) + " é: %d" % (n4))
if (posicao_do_vetor == 5):
   print("O valor do vetor " + str(posicao_do_vetor) + " é: %d" % (n5))

elif (posicao_do_vetor >= 6):
    print("O vetor " + str(posicao_do_vetor) + " não existe")

Qual posição do vetor você gostaria de saber o valor? 123
O vetor 123 não existe

In [ ]:
n0 = -10
n1 = -9
n2 = -8
n3 = -7
n4 = -6
n5 = -5
n6 = -4
n7 = -3
n8 = -2
n9 = -1
n10 = 0
n11 = 1
n12 = 2
n13 = 3
n14 = 4
n15 = 5
n16 = 6
n17 = 7
n18 = 8
n19 = 9
n20 = 10

In [ ]:
posicao_do_vetor2 = int(input("Qual posição do vetor você gostaria de saber o valor? "))
if (posicao_do_vetor2 == 0):
  print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" %(n0))
if (posicao_do_vetor2 == 1):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n1))
if (posicao_do_vetor2 == 2):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n2))
if (posicao_do_vetor2 == 3):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n3))
if (posicao_do_vetor2 == 4):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n4))
if (posicao_do_vetor2 == 5):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n5))
if (posicao_do_vetor2 == 6):
  print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" %(n6))
if (posicao_do_vetor2 == 7):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n7))
if (posicao_do_vetor2 == 8):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n8))
if (posicao_do_vetor2 == 9):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n9))
if (posicao_do_vetor2 == 10):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n10))
if (posicao_do_vetor2 == 11):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n11))
if (posicao_do_vetor2 == 12):
  print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" %(n12))
if (posicao_do_vetor2 == 13):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n13))
if (posicao_do_vetor2 == 14):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n14))
if (posicao_do_vetor2 == 15):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n15))
if (posicao_do_vetor2 == 16):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n16))
if (posicao_do_vetor2 == 17):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n17))
if (posicao_do_vetor2 == 18):
  print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" %(n18))
if (posicao_do_vetor2 == 19):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n19))
if (posicao_do_vetor2 == 20):
   print("O valor do vetor " + str(posicao_do_vetor2) + " é: %d" % (n20))

elif (posicao_do_vetor2 >= 21):
   print("O vetor " + str(posicao_do_vetor2) + " não existe")

Qual posição do vetor você gostaria de saber o valor? 22
O vetor 22 não existe

#DESAFIOS DA AULA 08

In [ ]:
#O que são variaveis em python?
São como gavetas em que usamos para armazenar coisas(dados)

#Como voce acessa um elemento em especifico em uma lista?

Para consultar uma aprte expecifica de uma lista, basta dar um print nela e selecionando a posição desejada
exemplo:
convidados = [" lara", "maria", "jose", "jonas"]

print(convidados[0])


#Explique o que são funções em python?
São como blocos que podemos agrupa-las aos codigos
(este eu admito que não explicar ou utilizar bem)

#O que é loop de repetição? Cite dois loops em python
For e While

#Quais são os operadores de comparação em python?
<,>,=,==,!

#Explique o que são condicionais em Python
Os condicionais são condições que damos ao programa seguir.

#Como você declara uma função em python?
exmplo: def objeto(parametros)

#Como você solicita entrada de dados do usuario em python?
utilizando o input

#Escreva um programa que solicita ao usuário seu nome e o saúda.
nome = input("Qual o seu nome? : ")
print("Saudações " + str(nome))

#Crie uma função que recebe dois números como entrada e retorna a soma deles.
primeiro = int(input("Quais numeros deseja somar? : "))
segundo = int(input("Qual a segunda unicade? : " ))

print(primeiro + segundo)

#Escreva um programa que verifica se um número é par ou ímpar e imprime uma mensagem correspondente.
numero = int(input("Qual numero deseja verificar? : "))
primo = "Este numero é primo"
nprimo = "Este numero não é primo"

if (numero % numero == 1):
  print(primo)

elif (numero % numero >= 2):
  print(nprimo)

(inacabado)
#Crie uma lista com os nomes de três amigos. Imprima cada nome separadamente.
amigos = ["Maria", "jose", "nicolas"]

print(amigos[0])
print(amigos[1])
print(amigos[2])

#Escreva um programa que calcula a média de três números digitados pelo usuário.


#Crie uma função que recebe uma lista como entrada e retorna o maior número presente nessa lista.


#Escreva um programa que solicita ao usuário um número e verifica se ele é positivo, negativo ou zero.
numero = int(input("Qual numero deseja saber se é positivo, negativo ou neutro? : "))
positivo = "O numero escolhido é positivo "
negativo = "O numero escolhido é negativo "
neutro = "O numero escolhido é neutro/zero"

if (numero >= 1):
    print(positivo)

elif (numero == 0 ):
    print(neutro)

elif (numero <= -1):
    print(negativo)


#Crie uma lista com os números de 1 a 10 e imprima apenas os números pares.


#Escreva um programa que solicita ao usuário um número e verifica se ele é divisível por 3.
numero = int(input("Qual numero deseja saber se é divisivel por 3? :"))
nao = "O numero escolhido não é divisivel por 3"
sim = "O numero escolhido é divisivel por 3"

if (numero %3 == 0):
  print(sim)

elif (numero %3 > 0 ):
  print(nao)

#Crie uma função que recebe uma lista de números e retorna outra lista com os números elevados ao quadrado.
numeros = [1, 2, 3, 4, 5]
print(numeros)

print(numeros**numeros)
(inacabado)

[1, 2, 3, 4, 5]

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'list'

#MODULOS

In [ ]:
#importando um modulo
import math

In [ ]:
#2 elevado a 3
print(math.pow(4,3))

#arredondar valores
print(math.ceil(2.5))#arredondar para cima
print(math.trunc(2.5))#arredondar para baixo

64.0
3
2

In [ ]:
#Como ver todas as funcoes de um modulo
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
print(math.radians(1000000000))

17453292.519943297

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import sys

sys.path.insert(0, '/content/gdrive/MyDrive/Modulos')

In [ ]:
import calculadora

In [ ]:
calculadora.soma(5,5)

10

#Arquivos

In [ ]:
%%writefile texto.txt

 O Benicio é um aluno de 13 anos,
 Bryan joga Roblox,
 Riquelme é Santista,
 David Já ganhou na mega sena e
 Vinicius joga beach tenis

Overwriting texto.txt

In [ ]:
#Abre um arquivo txt ja existente

arquivo = open('texto.txt')

In [ ]:
#Lê todo o arquivo
arquivo.read()

'\n O Benicio é um aluno de 13 anos,\n Bryan joga Roblox,\n Riquelme é Santista,\n David Já ganhou na mega sena e \n Vinicius joga beach tenis \n'

In [ ]:
#Lendo linha por linha
print(arquivo.readline())

In [ ]:
#Procurando o inicio do arquivo
arquivo.seek(0)
#Agora a gente lê o arquivo do inicio
arquivo.read()

'\n O Benicio é um aluno de 13 anos,\n Bryan joga Roblox,\n Riquelme é Santista,\n David Já ganhou na mega sena e \n Vinicius joga beach tenis \n'

In [ ]:
%%writefile herois.txt
Miranha, Morceguinho, Tortuguita,
Aranha-venenosa e Gelinho

Writing herois.txt

In [ ]:
arquivo = open('herois.txt')
#Lendo linha por linha
print(arquivo.readline())
#Lendo segunda linha
print(arquivo.readline())

Miranha, Morceguinho, Tortuguita,

Aranha-venenosa e Gelinho

In [ ]:
#Lendo o arquivo inteiro com o "FOR"
arquivo = open('herois.txt', 'r')

for x in arquivo:
  print(x)

Miranha, Morceguinho, Tortuguita,

Aranha-venenosa e Gelinho

In [ ]:
#Adiciona um sgundo argumento a funcao, w, para escrita
arquivo = open('herois.txt', 'w')

In [ ]:
#Escrever no arquivo
arquivo.write('Latão, Vencivel')

15

In [ ]:
arquivo = open('herois.txt')
arquivo.seek(0)
arquivo.read()

''

In [ ]:
arquivo = open('herois.txt')

In [ ]:
arquivo = close('herois.txt')

TypeError: 'str' object cannot be interpreted as an integer

#Competição da Aula 10

In [ ]:
#Calculadora Simples: Peça aos alunos para criar uma calculadora que pode realizar operações básicas como adição, subtração, multiplicação e divisão.
duvida = input("Quais numeros deseja calcular?")

#Tabuada: Peça aos alunos para escrever um programa que gere a tabuada de um número fornecido pelo usuário.

#Verificador de Números Primos: Peça aos alunos para criar um programa que verifica se um número fornecido pelo usuário é primo ou não.

#Jogo de Adivinhação: Crie um jogo onde o programa escolhe um número aleatório e o jogador tem que adivinhar qual é esse número. Dê dicas ao jogador conforme ele faz suas tentativas.

#Lista de Compras: Peça aos alunos para criar um programa que gerencie uma lista de compras, permitindo adicionar, remover e exibir os itens da lista.

#Conversor de Temperatura: Peça aos alunos para criar um programa que converta uma temperatura de Celsius para Fahrenheit e vice-versa.

#Contador de Palavras: Crie um programa que conte quantas palavras há em uma frase fornecida pelo usuário.

#Média de Notas: Peça aos alunos para criar um programa que calcula a média de notas de um aluno em diferentes disciplinas.

#Sorteio de Números: Crie um programa que sorteie números aleatórios e os armazene em uma lista, depois peça aos alunos para encontrar o maior e o menor número da lista.

#Criador de Listas: Peça aos alunos para criar um programa que permita ao usuário criar e gerenciar listas de itens, como uma lista de tarefas a fazer.

In [20]:
login = input("Qual a sua senha? : ")
letras = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
esp = ["@", "#", "!", "$", "%", "¨¨", "&", "*", "_", "-"]
def validar_senha(senha):
  senha = login

  if len(login) > 8 and any(char in esp for char in login):
    return True
  else:
    return False

Qual a sua senha? : 12312312!